html{
    -webkit-font-smoothing: antialiased!important;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body {
    max-width: 1024px;
    font-size: 24px;
    align-items: center;
    margin: auto;
    background: #999;
    line-height: 1.8rem;

    color: #1A202C !important;
    background:#F7FAFC !important;
    padding:2em 4em;
   font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

}

p {
    margin:0;
    padding:0;
    margin-bottom:1em;
}

h3 {
  font-size: 1.7em !important;
  line-height: 1em !important;
}

h4 {
  font-size: 1.5em !important;
}

td {
  padding: .5em;
}